* {
  box-sizing: border-box;
}



body{
  height: 100vh;
}



.container-main {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%; /* Ensure it doesn't exceed 100% viewport width */
  /* background-color: #3498db; Blue background color for demonstration */
  height: calc(100vh - 50px);
}

.home{
  background-image: url('../../assets/shiok_jobs_home_bg.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-attachment: fixed;
}
  /* Photo by <a href="https://unsplash.com/@victorhwn725?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Victor He</a> on <a href="https://unsplash.com/photos/w7_uM_DObGo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
.searchbox{
  position: relative;
  top: 30vh;
  max-width: 800px;
}

h1, h2, h3 {
  color: #ffffff;
  /* font-weight: bold; */
}

.custom-color {
  color: #ffffff;
}

.btn-search{
  min-width: 110px;
}

.btn-custom {
  background-color: #046380;
  color: #ffffff;
  border: 3px solid #046380;
  border-radius: 10px;
  font-size: 16px;
  /* font-weight: bold; */
  width: 15vmin;
  min-width: 60px;
  padding: 4px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.btn-custom:hover {
  background-color: #ededed;
  color: #000000;
  border: 3px solid #ededed;
  border-radius: 10px;
  font-size: 16px;
  /* font-weight: bold; */
  width: 15vmin;
  min-width: 60px;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.btn-custom:active {
  background-color: #9bbdf6 !important;
  color: #ffffff !important;
  border: 3px solid #9bbdf6 !important;
}
.btn-custom-outline {
  background-color: #ffffff;
  color: #0CA789;
  border: 3px solid #0CA789;
  border-radius: 10px;
  font-size: 16px;
  /* font-weight: bold; */
  width: 15vmin;
  min-width: 77px;
  margin-top: 5px;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.btn-custom-outline:hover {
  background-color: #ededed;
  color: #000000;
  border: 3px solid #ededed;
  border-radius: 10px;
  font-size: 16px;
  /* font-weight: bold; */
  width: 15vmin;
  min-width: 80px;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.btn-custom-outline:active {
  background-color: #9bbdf6 !important;
  color: #ffffff !important;
  border: 3px solid #9bbdf6 !important;
}

.button{
  width: 90%;
  min-width: 90px;
  max-width: 170px;
}

.field-label{
 font-weight: 700;
}
