* {
  box-sizing: border-box;
}



body{
  height: 100vh;
  overflow: hidden;
}



.container-main {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%; /* Ensure it doesn't exceed 100% viewport width */
  /* background-color: #3498db; Blue background color for demonstration */
  height: calc(100vh - 50px);
}

.bgimage{
  background-image: url('../../Assets/shiok_jobs_home_bg.jpg'); 
  background-size: cover;
  background-repeat: repeat;
  /* background-position: center; */
  background-attachment: fixed;
}
  /* Photo by <a href="https://unsplash.com/@victorhwn725?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Victor He</a> on <a href="https://unsplash.com/photos/w7_uM_DObGo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
.searchbox{  
  position: relative;
  top: 30vh;
  max-width: 800px;
}

h1, h2, h3 {
  color: #ffffff;
  /* font-weight: bold; */
}

.custom-color {
  color: #ffffff;
}

.btn-search{
  min-width: 110px;
}

.field-label{
 font-weight: 700;
}

.jobs-wrapper {
    max-height: 90%;
    overflow: auto;
}

.jobs-wrapper::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar */
}