* {
  box-sizing: border-box;
}



body{
  height: 100vh;
  overflow: hidden;
}

.container-main {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%; /* Ensure it doesn't exceed 100% viewport width */
  /* background-color: #3498db; Blue background color for demonstration */
  height: calc(100vh - 50px);
}

.custom-turqoise{
  color: rgb(91, 164, 164);;
}

.job-details{
    background-color: #f9f9f9;

}

.job-details-card{
  border-radius: 5px;
}

.job-details-part1{
  border-bottom: 1px solid rgb(224, 224, 224);;
}

.job-details .salary {
  color: rgb(41, 164, 164);;
}


.custom-shadow{
  box-shadow: 0px 4px 6px 4px rgba(91, 164, 164, 0.2);    
}



.jobsearch{
  background-color: #f6f6f6;
}

  /* Photo by <a href="https://unsplash.com/@victorhwn725?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Victor He</a> on <a href="https://unsplash.com/photos/w7_uM_DObGo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */


.job-details h1, h2, h3 {
  color: #000000;
  /* font-weight: bold; */
}

.custom-color {
  color: #ffffff;
}

.field-label{
 font-weight: 700;
}

.jobs-wrapper {
    max-height: 90%;
    overflow: auto;
}

.jobs-wrapper::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar */
}


.job-details .part2 {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
@media only screen and (max-width: 375px) {
  .job-details .part2 {
      border-top: 1px solid hsl(180, 8%, 52%);
      padding-top: 1rem;
      justify-content: flex-start;
 }
}
.job-details .part2 span {
  background-color: hsl(180, 52%, 96%);
  color: rgb(91, 164, 164);
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 5px;
  /* cursor: pointer; */
}
.job-details .part2 span:not(:last-child) {
  margin-right: 1rem;
}
.job-details .part2 span:hover {
  background-color: rgb(91, 164, 164);
  color: #fff;
}
@media only screen and (max-width: 375px) {
  .job-details .part2 span {
      margin-bottom: 1rem;
 }
}

.salary{
  font-size: 1.3em;
}