.header {
    background-color: #ffffff;
    width: 100%;
    height: 5em;
}

.logo {
    /* width: 45px; */
    /* min-width: 45px; */
    height: 5em;
}

.header img{
    /* margin: auto; */
    max-width: 5em;
    /* width: 100%; */
    height: 100%;
}


.nav-logo{
    margin: 0 1em;
    max-width: 8em;
    /* margin: auto; */
    /* max-width: 10px; */
    /* border: 1px solid black; */
    /* height: 100%; */
}


.custom-nav {
    /* font-weight: bold; */
    font-size: 0px;
    color: #046380;
}   
.nav-item {
    font-weight: 600;
    /* font-size: larger; */
    vertical-align: bottom;
    text-decoration: none;
}
.nav-item-active {
    font-weight: 600;
    /* font-size: larger; */
    vertical-align: bottom;
    /* color: #046380; */
    text-decoration: none;
}


.nav-item-active, .nav-item {
    color: #555555 !important;
}
 
.gold.nav-item, .gold.nav-item-active{
    color: #8F7725 !important;
}

.blue.nav-item, .blue.nav-item-active{
    color: #046380 !important;
}